.Myriad-Pro {
    font-family:  'Myriad Pro';
}

.Conduit-ITC {
    font-family: 'Conduit ITC';

}

.Courier-New {
    font-family: 'Courier New';
}

.Arial {

    font-family: Arial;
}

.Georgia {
    font-family: Georgia;
}

.Helvetica {
    font-family: Helvetica;
}


